Tests: 00-test-integration
Depends: libhalide18-dev, cmake, ninja-build

Tests: 01-test-python-bindings
Depends: @builddeps@, libhalide18-dev

Tests: 02-test-apps
Depends: @builddeps@, libhalide18-dev
